<div class="d-flex my-5 justify-content-center gap-5">
  <div class="d-flex flex-column gap-3">
    <%= render 'story/stories_list' %>
    <div class="flex flex-column">
      <%= render 'posts/post', post: current_user.posts.first %>
      <%= render 'posts/post', post: current_user.posts.first %>
      <%= render 'posts/post', post: current_user.posts.first %>
      <%= render 'posts/post', post: current_user.posts.first %>
    </div>
  </div>
  <%= render 'suggestions/suggestions_list' %>
</div>
