<div id="<%= dom_id post %>">
  <p>
    <strong>Caption:</strong>
    <%= post.caption %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= post.longitude %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= post.latitude %>
  </p>

  <p>
    <strong>User:</strong>
    <%= post.user_id %>
  </p>

  <p>
    <strong>Allow comments:</strong>
    <%= post.allow_comments %>
  </p>

  <p>
    <strong>Show likes count:</strong>
    <%= post.show_likes_count %>
  </p>

  <p>
    <strong>Images:</strong>
    <% post.images.each do |image| %>
      <div><%= image_tag image %> </div>
    <% end %>
  </p>

</div>
