<%= turbo_frame_tag "post#{post.id}comments" do %>
  <% if post.comments.count > 0 %>
    <a href="#" data-bs-toggle="modal" data-bs-target="#post<%= post.id %>_commentsModal" style="text-decoration:none" >
      <small class="text-muted">View all <%= pluralize(post.comments.count, "comments") %> </small>
    </a>
  <% end %>
  <% post.comments.last(5).each do |comment| %>
    <p class="card-text m-0"> <%= link_to comment.user, class:  "a-decoration-none" do %> <span class="fw-bold"><%= comment.user.username %></span><% end %> <%= comment.body %> </p>
  <% end %>


  <!-- Modal -->
  <div class="modal fade" id="post<%= post.id %>_commentsModal" tabindex="-1" aria-labelledby="post<%= post.id %>_commentsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="post<%= post.id %>_commentsModalLabel">Post Comments</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="d-flex flex-column gap-3" >
            <% post.comments.each do |comment| %>
              <%= render "posts/modal_comment", comment: comment %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>