<div class="d-flex justify-content-between">
  <div class="d-flex">
   <%= image_tag suggestion.profile_pic.attached? ? suggestion.profile_pic : 'user-pp.png', class: "img-thumbnail rounded-circle", style: "width: 2.5rem" %>
    <div class="d-flex flex-column mx-3">
      <small class="fw-bold" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width:10rem"><%= link_to suggestion, class:  "a-decoration-none", data: {turbo: 'false'} do %><%= suggestion.username %><% end %></small>
      <small class="text-muted" style="font-size:.7rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width:10rem">Suggested for you by Instagram as He followed you before</small>
    </div>
  </div>

  <% if current_user.waiting_followings.include?(suggestion) %>
    <%= button_to cancel_request_path(user_id: suggestion.id), method: :delete, class:"btn bg-transparent border-0", data: {turbo: 'false'} do %>
      <small class="fw-bold text-secondary">Cancel</small>
    <% end %>
  <% else %>
    <%= button_to follow_path(user_id: suggestion.id), method: :post, class:"btn bg-transparent border-0", data: {turbo: 'false'} do %>
      <small class="fw-bold text-primary">Follow</small>
    <% end %>

  <% end %>
</div>